<html>
    <head>
        <title>
            Profile
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Gooogle Auth-->
        
        <meta name="google-signin-client_id" content="15064425583-h6gqtm6l884069s03jtuvn8v892u1ukj.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        
        <link rel='stylesheet' href='/stylesheets/admindashboard.css' />
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
             

        <link rel="stylesheet" href="/stylesheets/profile.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.8.0/dist/JsBarcode.all.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js" integrity="sha512-NFUcDlm4V+a2sjPX7gREIXgCSFja9cHtKPOL1zj6QhnE0vcY695MODehqkaGYTLyL2wxe/wtr4Z49SvqXq12UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </head>
    <body>
        <!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav
         id="sidebarMenu"
         class="collapse d-lg-block sidebar collapse bg-white"
         >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
             href="/userdashboard"
             class="list-group-item list-group-item-action py-2 ripple"
             aria-current="true"
             >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i
              ><span>User dashboard</span>
          </a>
          
          <a
             href="/showreturnhistory"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-users fa-fw me-3"></i><span>Return History</span></a
            >
          <a
             href="/showsearchbook"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-circle-exclamation fa-fw me-3"></i><span>Search Book</span></a
            >
          
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav
         id="main-navbar"
         class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
         >
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Brand -->
        <a class="navbar-brand" href="#" id="firstname-id"><%=data.firstname%></a>
        
  
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
  
  
          <!-- Icon dropdown -->
          <li class="nav-item dropdown">
            <a
               class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
               href="#"
               id="navbarDropdown"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false"
               >
              <i class="united kingdom flag m-0"></i>
            </a>
          </li>
          <li class="nav-item" style="display: flex;align-items: center;">
                
          </li>
          <!-- Avatar -->
          <li class="nav-item dropdown">
            
            <a
               class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false"
               >
              <img
                   src="<%=data.userprofile%>"
                   class="rounded-circle"
                   height="22"
                   alt=""
                   loading="lazy"
                   />
            </a>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink"
                >
              <li>
                <form action="/showuserprofile" method="post">
                  <button class="dropdown-item" value="<%=data.mailid%>" name="showuserprofile">My profile</button>
                </form>
              </li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">
      <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card">
                <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="<%=data.userprofile%>"
                      alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 150px; z-index: 1">
                   
                  </div>
                  <div class="ms-3" style="margin-top: 130px;">
                    <h5><%=data.lastname%></h5>
                    <p><%=data.mailid%></p>
                  </div>
                </div>
                <div class="p-4 text-black" style="background-color: #f8f9fa;">
                  <div class="d-flex justify-content-end text-center py-1" style="padding-top: 20px;">
                    <div>
                      <p class="mb-1 h5"><%=data.course%></p>
                      <p class="small text-muted mb-0">Course</p>
                    </div>
                    <div class="px-3">
                      <p class="mb-1 h5"><%=data.branch%></p>
                      <p class="small text-muted mb-0">Branch</p>
                    </div>
                    
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                  <div class="mb-1 d-flex justify-content-center" >
                    <div class="p-1" style="background-color: #f8f9fa;text-align: center;">
                      <img src="https://barcode.tec-it.com/barcode.ashx?data=0901CS201076&code=Code39" id="barcode1" width="100%"/>
                    </div>
                    
                  </div>
                  <div class="mb-1 d-flex justify-content-center" >
                    <div class="p-1" style="background-color: #f8f9fa;text-align: center;">
                      <div id="qrcode"></div>
                    </div>
                    
                  </div>
                  <!-- <div class="mb-1">
                    <div id="qrcode"></div>
                    <p class="lead fw-normal mb-1">About</p>
                    <div class="p-4" style="background-color: #f8f9fa;">
                      <p class="font-italic mb-1">State : <%=data.state%></p>
                      <p class="font-italic mb-0">Remark : <%=data.remark%></p>
                    </div>
                  </div> -->
                  <div>
                    <div class="row" style="display: flex;justify-content: center">
                      <div class="col-md-6" style="display: flex;justify-content: space-around;padding: 10px;">
                        <!-- <form>
                          <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">Edit Profile</button>
                        </form> -->
                    </div>
                        <div class="col-md-6" style="display: flex;justify-content: space-around;padding: 10px;">
                            <form action="/logout" method="post">
                              <button type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">Log Out</button>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <!--Main layout-->
    <script src="/javascripts/profile.js"></script>
    </body>
</html>